.footer {
  background-color: #d2d3d1;
  padding: 50px 0;
}

.footer .footer-container {
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

.footer .footer-container .liberty.bottom {
  width: auto;
  margin: 0 auto;
  padding: 35px 15px 0;
  text-align: center;
}

.footer .footer-container .liberty.bottom img {
  padding: 23px 17px 18px 17px;
  border-top: 1px solid #959694;
  margin: 0 auto;
  max-width: 131px;
}

.footer .footer-container .liberty img {
  max-width: 127px;
  margin-bottom: 13px;
}

.footer .footer-container .copywrite {
  font-size: 12px;
  line-height: 24px;
  color: #666666;
}

.footer .footer-container .title {
  font-weight: 700;
  color: #0c3c61;
  padding-top: 20px;
}

.footer .footer-container a {
  display: block;
  color: #000000;
}

@media (min-width: 768px) {
  .footer .footer-container {
    text-align: left;
    max-width: 800px;
  }
}

@media (min-width: 992px) {
  .footer .footer-container {
    max-width: 1018px;
  }
  .footer .footer-container .liberty.top {
    border-right: 1px solid #959694;
  }
}