/* Base styles: opinionated defaults */

body {
  font-family: 'Open Sans', sans-serif;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* Custom styles */

.header .navbar {
  margin: 0;
  height: 200px;
}

.header .navbar .navbar-header .navbar-toggle {
  background: #d2d3d1;
}

.header .navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #00477d;
}

.header .navbar .navbar-header .navbar-brand {
  height: auto;
  padding: 0;
}

.header .navbar .navbar-nav {
  width: 75%;
  padding-left: 4%;
}

.header .navbar .navbar-nav .dropdown-menu {
  top: -19px;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: -5px 5px 5px 0px rgba(232,232,232,1);
  -moz-box-shadow: -5px 5px 5px 0px rgba(232,232,232,1);
  box-shadow: -5px 5px 5px 0px rgba(232,232,232,1);
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.header .navbar .navbar-nav .dropdown-menu a {
  padding: 5px 0;
}

.header .navbar .navbar-nav>li {
  margin-right: 3.65%;
}

.header .navbar .navbar-nav>li:last-child {
  margin: 0 !important;
}

.header .navbar .navbar-nav>li>a {
  padding: 8px 0;
  cursor: none;
}

.header .navbar .navbar-nav li a {
  font-size: 12.5px;
  font-weight: 600;
  color: #00477d;
  text-transform: uppercase;
}

.header .navbar .navbar-nav li a:hover,
.header .navbar .navbar-nav li a:active,
.header .navbar .navbar-nav li a:focus,
.header .navbar .navbar-nav li a.disabled {
  color: #f28b00;
  background-color: transparent;
  opacity: 1;
}

@media only screen and (min-width: 1500px) {
  .header .navbar .navbar-header {
    padding-left: 4%;
    width: 30%;
  }
  .header .navbar .navbar-nav {
    width: 70%;
  } 
  .header .navbar .navbar-nav li a {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1650px) {
  .header .navbar .navbar-header {
    padding-left: 5.5%;
    width: 35%;
  }
  .header .navbar .navbar-nav {
    width: 65%;
    padding-left: 5.5%;
  }
}

/* Homepage Custom Nav */

#index .header .navbar {
  text-align: center;
}

#index .header .navbar .navbar-header .navbar-brand {
  display: none;
}

#index .header .navbar .navbar-nav {
  width: auto;
  float: none;
  display: inline-block;
  padding: 0;
}

#index .header .navbar .navbar-nav>li {
  margin-right: 10px;
}

#index .header .navbar .navbar-nav>li>a {
  padding: 5px;
}

#index .header .navbar .navbar-nav li a {
  font-size: 11px;
}

/* End Homepage Custom Nav */

.content {
  min-height: 500px;
}

/* Footer */
.footer {
  background-color: #d2d3d1;
  padding: 50px 0;
}

.footer .footer-container {
  max-width: 1018px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.footer .footer-container .liberty img {
  max-width: 127px;
  margin-bottom: 13px;
}

.footer .footer-container .copywrite {
  font-size: 12px;
  line-height: 24px;
  color: #666666;
}

.footer .footer-container .title {
  font-weight: 700;
  color: #0c3c61;
  padding-top: 20px;
}

.footer .footer-container a {
  display: block;
  color: #000000;
}

@media (min-width: 768px) {
  .header .navbar .navbar-header {
    padding-left: 3%;
    width: 25%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

@media (min-width: 992px) {
  #index .header .navbar .navbar-nav>li {
    margin-right: 24px;
  }

  #index .header .navbar .navbar-nav>li>a {
    padding: 8px;
  }

  #index .header .navbar .navbar-nav li a {
    font-size: 13px;
  }
  .footer .footer-container .liberty {
    border-right: 1px solid #959694;
  }
}

@media only screen and (min-width: 1175px) {
  #index .header .navbar .navbar-nav li a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1350px) {
  #index .header .navbar .navbar-nav>li {
    margin-right: 34px;
  }

  #index .header .navbar .navbar-nav li a {
    font-size: 18px;
  }
}

/* Helper classes */

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* Print styles */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
